li.active {
    background: #eee;
    border-radius: 8px;
}

li a {
    color: #fff;
}

li.active a {
    color: #000;
}

#side_nav {
    height: 100%;
    min-width: 250px;
    max-width: 250px;
    transition: all 0.3s;
}

@media(max-width: 767px){
    #side_nav{
      margin-left: -250px;
      position: absolute;
      min-height: 100vh;
      z-index: 1;
   
    }
    #side_nav.active{
      margin-left: 0;
     }
   }